* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}
main {
    display: grid;
    /* Laver 4 kolonner der hver fylder 1/4 (1fr) af pladsen */
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; /* Luft mellem kortene */
    padding: 10px;
    list-style: none;
}
.pokemon-card {
    padding: 5px; /* Lidt luft indeni er stadig godt */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/* Nummeret i øverste højre hjørne */
.poke-id {
    margin-bottom:10px;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    opacity: 0.8;
}

/* Billedet i midten */
.pokemon-card img {
    width: 100px;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

/* Tekst og link i bunden */
.poke-info {
    text-align: center;
}

.poke-info h3 {
    text-transform: capitalize;
    margin: 5px 0;
}

.poke-info a {
    color: #050400;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
.observer{
    background-color: #d41d66;
}
main .pokemon-card:nth-last-child(5){
    background-color: #d41d66;

}